body {
  background-color: #393e46;
  text-align: center;
  padding: 10%;
}

img {
  padding: 10px 50px;
}

.big-header {
  font-family: "Lobster", cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
  color: #4ecca3;
  margin: 0 auto;
}

.sub-header {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  padding: 1.06rem 7.8rem;
  display: inline-block;
  color: #4ecca3;
}

.container {
  padding: 10px;
}

#footer p {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  color: #ffffff;
}

/* button-33 from https://getcssscan.com/css-buttons-examples */
.roll {
  background-color: #6eecc3;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* button-33 from https://getcssscan.com/css-buttons-examples */
.roll:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media only screen and (max-width: 1288px) {
  img {
    max-width: 100%;
    padding: 15%;
  }

  .big-header {
    font-size: 4.5rem;
  }

  .sub-header {
    font-size: 2rem;
    display: inline-block;
    padding: 50px 0 0 0;
  }
}
